<div class='mx-auto md:w-3/4 w-full'>
  <div class='flex md:flex-row flex-col justify-stretch shadow rounded-md border border-gray-200 outline-none'>
    <div class='flex-1 border-r border-r-gray-200 p-5'>
      <h4 class='font-semibold'><%= @trainer.name %></h4>
      <span>1-hour appointment</span>
    </div>
    <div class='flex-auto border-r border-r-gray-200 p-5'>
      <%= render 'form', appointment: @appointment %>
    </div>
    <div class='flex-1 p-5'>
      <%= turbo_frame_tag :slots do%>
        <%= availability_slots(@trainer, @appointment) %>
      <% end %>
    </div>
  </div>
</div>
