<div class='mx-auto w-full'>
  <div class='flex md:flex-row flex-col shadow rounded-md border border-gray-200 bg-white outline-none'>
    <div class='flex-1 border-r border-r-gray-200 p-5'>
      <h3 class='font-medium text-slate-500'><%= @trainer.name %></h3>
      <h2 class='font-semibold text-xl text-slate-700'>1-hour appointment</h2>
    </div>
    <div class='basis-2/5 border-r border-r-gray-200 p-5'>
      <%= render "form", appointment: @appointment %>
    </div>
    <div class='flex-1 p-5'>
      <%= turbo_frame_tag :slots do %>
        <%= availability_slots(@trainer, @appointment) %>
      <% end %>
    </div>
  </div>
</div>
